name: Deploy Frontend to Blob Storage

on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'  # 只有修改 frontend 文件夹下的内容才触发

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Upload to Blob Storage
      uses: azure/CLI@v1
      with:
        inlineScript: |
          az storage blob upload-batch --account-name staticstorage0002 --auth-mode key --destination '$web' --source frontend --connection-string "${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}" --overwrite


